{% load static %}

<footer id="sticky-footer" class="page-footer bg-dark clearfix">
    <!-- Footer Links -->
  <div class="container-fluid text-center">

        <!-- Grid row -->
        <div class="row tight-page">
    
          <!-- Grid column -->
          <div class="col-md-3 mt-md-0 mt-3">
    
            <!-- Content -->
            <a href="/"><img class="img-responsive" id="footer-img" height="150" src="{% static "blog/images/New-Logo-All-White.png" %}" /></a>
            <p id="footer-text">determined to bring high quality Godly content to the mainstream</p>
    
          </div>
          <!-- Grid column -->
    
          <hr class="clearfix w-100 d-md-none pb-3">
    
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
    
            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>
    
            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>
    
          </div>
          <!-- Grid column -->
    
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
    
            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>
    
            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>
    
          </div>
          <!-- Grid column -->
          
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
    
                <!-- Links -->
                <h5 class="text-uppercase">Links</h5>
        
                <ul class="list-unstyled">
                  <li>
                    <a href="#!">Link 1</a>
                  </li>
                  <li>
                    <a href="#!">Link 2</a>
                  </li>
                  <li>
                    <a href="#!">Link 3</a>
                  </li>
                  <li>
                    <a href="#!">Link 4</a>
                  </li>
                </ul>
        
              </div>
              <!-- Grid column -->


        </div>
        <!-- Grid row -->
    
      </div>
      <!-- Footer Links -->
    
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2019 
        <a href="http://trackstarz.com/"> Trackstarz</a>
      </div>
      <!-- Copyright -->
</footer>