{% load static %}

<nav class="navbar navbar-dark bg-dark sticky-top navbar-expand-lg">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a href="/"><img class="img-respnsive" height="40" src="{% static "blog/images/New-Logo-All-White-Wide.png" %}" /></a>
      
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse text-uppercase" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="active nav-item">
          <a href="/" class="nav-link">
            Home
          <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        <li class="dropdown nav-item">
          <a href="/universe/" class="dropdown-toggle nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Universe <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropbdown">
            <li class="dropdown-submenu">
              <a href="#" class="dropdown-item dropdown-toggle" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shows</a>
              <ul class="dropdown-menu" aria-lebelledby="navbarDropdown">
                <li><a href="#" class="dropdown-item">Syndications</a></li>
              </ul>
            </li>
            <li><a href="#" class="dropdown-item">Leaks</a></li>
          </ul>
        </li>
        <li class="nav-item"><a href="http://brands.trackstarz.com" class="nav-link">Jaidot</a></li>
        <li class="nav-item"><a href="http://nectar.trackstarz.com" class="nav-link">Nectar</a></li>
        <li class="nav-item">
          <a href="http://merch.trackstarz.com" class="nav-link">
            Merch
          </a>
        </li>
        <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Contact 
              <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-submenu">
              <a href="#" class="dropdown-item dropdown-toggle" tabindex="-1"  aria-haspopup="true" aria-expanded="false">General</a>
              <ul class="dropdown-menu">
                <li><a href="#" class="dropdown-item">Donate</a></li>
                <li><a href="#" class="dropdown-item">Internships</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a href="#" class="dropdown-item dropdown-toggle" tabindex="-1"  aria-haspopup="true" aria-expanded="false">Artists</a>
              <ul class="dropdown-menu">
                <li><a href="#" class="dropdown-item">Music Submission</a></li>
                <li><a href="#" class="dropdown-item">Video Submission</a></li>
                <li><a href="#" class="dropdown-item">Beat Submission</a></li>
              </ul>
            </li>
             <li class="dropdown-submenu">
              <a href="#" class="dropdown-item dropdown-toggle" tabindex="-1"  aria-haspopup="true" aria-expanded="false">Listeners</a>
              <ul class="dropdown-menu">
                <li><a href="#" class="dropdown-item">Submit a Line 4 Line</a></li>
                <li><a href="#" class="dropdown-item">Submit a Topic</a></li>
              </ul>
            </li>
             <li class="dropdown-submenu">
              <a href="#" class="dropdown-item dropdown-toggle" tabindex="-1"  aria-haspopup="true" aria-expanded="false">Writers</a>
              <ul class="dropdown-menu">
                <li><a href="#" class="dropdown-item">Submit an Article</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
  
    <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/memberships/profile">
              <img class="rounded" src="{{MEDIA_URL}}{{request.user.userprofile.picture}}" height="30px" />
            </a>
          </li>
          <li class="dropdown nav-item nudgedown">
              <a class="dropdown-toggle nav-link" href="/memberships/profile" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.get_short_name}}<span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/memberships/profile" class="dropdown-item">Profile</a></li>
                <li><a href="/memberships/" class="dropdown-item">Account</a></li>
                <li><a href="/admin" class="dropdown-item">Admin</a></li>
                <li role="separator" class="divider dropdown-item"></li>
                <li><a href="/logout" class="dropdown-item">Log Out</a></li>
              </ul>
            </li>
        {% else %}
          <li class="nav-item navlinkflat"><a href="/login" >Login</a> / <a href="/register" >Join</a></li>
        {% endif %}
    </ul>

    <ul class="navbar-nav ml-auto">
	    <form class="form-inline my-2 my-lg-0" id="searchbar" action="{% url 'search' %}">
      <input type="text" class="form-control mr-sm-2" placeholder="Search Trackstarz" aria-label="Search" name="q">
      <button type="submit" class="btn btn-outline-light my-2 my-sm-0"><i class="fa fa-search"></i></button>
      </form>
    </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


