{% extends "userprofile/base.html" %}

{% block content %}

<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        {% if registered %}
        <strong>Thank you for registering {{user.username}}!</strong>
        <a href="/">Return to the homepage.</a><br />
        {% else %}
        TRACKSTARZ says: <strong>register here {{user.username}}!</strong><br />

        <form id="user_form" method="post" action="/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
</div>
</div>
</div>        

{% endblock %}
