{% load static %}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script type="text/javascript">

(function($){
	$('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
	  if (!$(this).next().hasClass('show')) {
		$(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
	  }
	  var $subMenu = $(this).next(".dropdown-menu");
	  $subMenu.toggleClass('show');

	  $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
		$('.dropdown-submenu .show').removeClass("show");
	  });

	  return false;
	});
})(jQuery)

</script>


<!-- This section is for revealing the comment section on bursts 
<script>
function showComment() {
	var x = document.getElementById("commentDIV");
	if (x.style.display && x.style.display !== "none") {
	  x.style.display = "none";
	} else {
	  x.style.display = "block";
	}
  }
</script>
-->
<script>
	$(document).ready(function() {
		$('.showComment').click(function() {
			$(this).closest('.burstinteractions').find('.commentDIV').toggle();

		});
		
	});
</script>

<script>
	$(document).ready(function() {
		$('.showReply').click(function() {
			$(this).closest('.comments').find('.replyDIV').toggle();
			var from_user = $(this).attr("from_user");
			if ( from_user ) {
				$(this).closest('.comments').find(".appended").remove();
				$(this).closest('.comments').find('#reply_form').append("<input class='appended' type='hidden' name='from_user' required id='id_from_user' value='" + from_user + "' />");
				
			} else {
				$(this).closest('.comments').find(".appended").remove();
				
			}
		});
		
		});
</script>




<!-- This section is for the buttons in the updage burst section -->
<script>
	var inputs = document.querySelectorAll( '#input_picture' );
	Array.prototype.forEach.call( inputs, function( input )
	{
		var label	 = input.nextElementSibling,
			labelVal = label.innerHTML;

		input.addEventListener( 'change', function( e )
		{
			var fileName = e.target.value.split("\\").pop();

			if( fileName )
				label.querySelector( 'span' ).innerHTML = fileName;
			else
				label.innerHTML = labelVal;
		});
	});

</script>


<!--
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

-->