{% extends "userprofile/base.html" %}

{% block content %}

        <div class="container-fluid fullheight">
                <div class="row fullheight">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12"  id="registrationimage">
                                <p>welcome back to the universe!</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 whitebackground" >

                                <h1>Login to TRACKSTARZ {{user.username}}</h1>

                                <br></br>
                                <form id="login_form" method="post" action="{% url 'login' %}">
                                        {% csrf_token %}
                                        <label for="username">Username:</label>
                                        <input type="text" name="username" placeholder="Username">
                                        <br></br>
                                        <label for="password">Password:</label>
                                        <input type="password" name="password" placeholder="Password">
                                        <br></br>
                                        <input type="submit" name="" value="Login">
                                </form>  
                        </div>
                </div>
        </div>
	
{% endblock %}
