{% extends 'userprofile/base.html' %}

{% block content %}
<div class="container">
	<div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        {% include "blog/includes/homesidebarleft.html" %}
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <ul>
            {% for user_p in users %}
                <li><a href="{{ user_p.get_absolute_url }}">{{ user_p }}</a></li>
                {% endfor %}
            </ul>
        </div>
		
	</div>
</div>
{% endblock content %}
