{% extends 'userprofile/base.html' %}

{% block content %}
{% include "universe/profilefeature.html" %}
<div class="container">
	<div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        {% include "universe/includes/universeprofilesidebarleft.html" %}
        </div>
        {% if request.user == u %}
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        {% else %}
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        {% endif %}

            

            
                     
                
            {% if slug in link_list or slug == user.userprofile.slug or slug == 'trackstarz' %} <!--only allowed to see the profile posts of friends -->           
                {% for burst in burst|dictsortreversed:"timestamp" %} <!-- show bursts in reverse order -->
                        {% if burst.author.userprofile.slug == slug %} <!-- only display the selected profile's posts on their profile page -->
                                <div class="burst">
                                <h6><img id="burst_image" src="{{MEDIA_URL}}{{ burst.author.userprofile.picture }}"></img> <b>{{burst.author.userprofile.displayname}}</b>  <small><b>@{{ burst.author.username }}</b></small> <small>{{ burst.timestamp|timesince }} ago</small><a href="/"><i class="fa fa-ellipsis-h burstmenu"></i></a></h6>
                                {% if burst.title %}
                                <h2>{{ burst.title }}</h2>
                                {% endif %}
                                <p>{{ burst.bodytext }}</p>
                                {% if burst.picture %}
                                <img src="{{MEDIA_URL}}{{burst.picture}}" width="100%"></img>
                                {% endif %}
                                </div>
                        {% endif %}
                {% endfor %}
            {% endif %}
                        
                
                        
                
                        

        </div>
        {% if request.user == u %}
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                {% include "universe/includes/universeprofilesidebarright.html" %}
            </div>
        {% else %}
        {% endif %}
        
		
	</div>
</div>
{% endblock content %}
