{% extends 'userprofile/base.html' %}

{% block content %}
<div class="container">
	<h1>Select a membership</h1>
	<div class="row">
		{% for object in object_list %}
			<div class="col-sm-4 col-md-4">
			<h2>{{ object.membership_type }}</h2>
			{% if forloop.first %}
				<p>Price: FREE</p>
			{% elif forloop.last %}
				<p>Price: ${{ object.price }}<small>/year</small></p>
			{% else %}
				<p>Price: ${{ object.price }}<small>/month</small></p>
			{% endif %}

			{% if forloop.first %}
				<form method="POST"  action="/">
						{% csrf_token %}
						{% if object.membership_type != current_membership %}
							<button class="btn btn-warning">Select</button>
						{% else %}
							<small>This is your current membership</small>
						{% endif %}
						<input type="hidden" name="membership_type" value="{{ object.membership_type }}">
				</form>
			{% else %}
				<form method="POST" action="{% url 'memberships:select' %}">
					{% csrf_token %}
					{% if object.membership_type != current_membership %}
						<button class="btn btn-warning">Select</button>
					{% else %}
						<small>This is your current membership</small>
					{% endif %}
					<input type="hidden" name="membership_type" value="{{ object.membership_type }}">
				</form>
			{% endif %}
			</div>
		{% endfor %}
	</div>
</div>

{% endblock content %}
