{% extends 'userprofile/base.html' %}

{% block content %}
<div class="container">
	<div class="row">
	<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
	{% include "blog/includes/homesidebarleft.html" %}
	</div>
	<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
		<h1>My Profile</h1>
			{% if user_subscription != None %}
				<h4>Current Membership: {{ user_membership.membership.membership_type }} <small>since {{ user_subscription.get_created_date }}</small></h4>
				
				{% if user_subscription.active != False %}
					<p>Next payment due: {{ user_subscription.get_next_billing_date }}
					</p>

					<div class="box">
						<a class="button" href="#popup1">Cancel Subscription</a>
					</div>
						   
						<div id="popup1" class="overlay">
							<div class="popup">
								<h3>Are You Sure?</h3>
								<a class="close" href="#">×</a>
								<div class="content">
									<a href="{% url 'memberships:cancel' %}">Yes</a>
								</div>
							</div>
						</div>






					

				{% else %}
					<p>You don't have an active membership plan.  Check them out here:	
						<a href="{% url 'memberships:select' %}"></a>
					</p>
				{% endif %}			

			{% else %}
				<p>You dont have a subscription!</p>
			{% endif %}
		

		

		
	</div>		
		
	</div>
</div>
{% endblock content %}
